html {
    background: url(../img/rocks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /*background: #e7e7e7;*/
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.menubar {
    background: #000000;
    margin-top: 20px;
    padding-left: 100px;
}

.menubar h1 {
    color: white;
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#main-wrap {
    margin: 0 auto;
    max-width: 1282px;
    position: relative;
    clear: both;
}

#content-wrap {
    float: left;
    min-height: 800px;
    width: 100%;
}

#content {
    margin-right: 440px;
    background: white;
    width: 824px;
    min-height: 800px;
}

#content p, #content h1 {
    margin-left: 20px;
    margin-right: 20px;
}

#sidebar {
    width: 419px;
    margin-left: -419px;
    float: right;
    overflow: hidden;
}

/*.page-content {*/
    /*background: #ffffff;*/
    /*margin-top: 20px;*/
    /*padding-bottom: 30px;*/
    /*margin-left: 100px;*/
    /*width: 720px;*/
    /*height: 100%;*/
/*}*/

/*.blog-content {*/
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
/*}*/